header {
  background-color: LightSkyBlue;
  height:200px;
  border-bottom: 2px solid white;
}

h1 {
  font-size: 80px;
  font-family:'Press Start 2P', cursive;
  font-weight: 900;
  text-align:center;
  color: white;
  display: block;
  margin: auto;
  padding-top: 50px;
}

main {
  background-color: Moccasin;
  height: 600px;
}

#turd {
  text-align:center;
  font-size:60px;
  height: 50px;
  width: 50px;
  display:inline-block;
  position:absolute;
  margin-top: 180px;
  margin-left: 350px;
  border: 1px solid black;
}

.obstacle {
  border: 2px solid SlateBlue;
  background-color: SlateBlue;
  height: 250px;
  width: 150px;
  display: inline-block;
  position: relative;
  /*margin-right: -150px;*/
  margin-left: 2000px; /* 1024px screen width + width of an obstacle*/
  margin-top: 345px;
}

footer {
  float: none;
  background-color: Chocolate;
  height: 160px;
}
