header {
  background-color: LightSkyBlue;
  height:200px;
  border-bottom: 2px solid white;
}

h1 {
  font: 50px arial, sans-serif;
  font-weight: 900;
  text-align:center;
  color: white;
  display: block;
  margin: auto;
}

main {
  background-color: Moccasin;
  height: 600px;
}

#turd {
  height: 50px;
  width: 50px;
  display:inline-block;
  margin-top: 180px;
  margin-left: 25%;
  border: 2px solid black;
}

footer {
  background-color: Chocolate;
  height: 160px;
}
