header {
  background-color: LightSkyBlue;
  height:200px;
  border-bottom: 2px solid white;
}

h1 {
  font-size: 50px;
  font-family:'Press Start 2P', cursive;
  font-weight: 900;
  text-align:center;
  color: white;
  display: block;
  margin: auto;
  padding-top: 50px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

main {
  background-color: SeaShell;
  height: 540px;
}

#score {
  font-size: 50px;
  font-family:'Press Start 2P', cursive;
  text-align:center;
  color:Teal;
  margin:auto;
  padding:30px 0 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#turd {
  text-align:center;
  font-size:60px;
  height: 50px;
  width: 50px;
  display:inline-block;
  position:absolute;
  margin-top: 180px;
  margin-left: 350px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.obstacle {
  border: 2px solid mediumseagreen;
  background-color: mediumseagreen;
  height: 250px;
  width: 150px;
  display: inline-block;
  position: relative;
  /*margin-right: -150px;*/
  margin-left: 2000px; /* 1024px screen width + width of an obstacle*/
  margin-top: 345px;
}

footer {
  float: none;
  background: url('../images/grass.png');
  background-size: contain;
  background-repeat: repeat-x;
  background-color: SeaShell;
  height: 200px;
}
